<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="m.a.n">

	<select id="reviewBoardList" resultType="ReviewDTO">
		select * from review order by reviewNo desc
	</select>

	<select id="noticeBoardList" resultType="NoticeDTO">
		select * from notice order by noticeNo desc
	</select>

	<select id="faqBoardList" resultType="FaqDTO">
		select * from faq order by faqNo desc
	</select>

	<select id="qnaBoardList" resultType="QnaDTO">
		select * from qna order by qnaNo desc
	</select>

</mapper>