<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="p.r.o">

	
	
 
	
	<insert id="insert">
		insert into product (productNo, productName, productPrice, productDiscountRate, productSet, isDelete, sellStatus)
		values (#{productNo},#{productName},#{productPrice},#{productDiscountRate},#{productSet},#{isDelete},#{sellStatus})
	</insert>
	
	<select id="categoryList" resultType="CategoryDTO">
		select * from category where categoryNoRef is null
	</select>
	
	<select id="categoryList2" resultType="CategoryDTO">
		select * from category where categoryNoRef = #{categoryNoRef}
	</select>
</mapper>