<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="p.r.o">
	<select id="getProductNo" resultType="Integer">
		<![CDATA[select max(productNo) from product]]>
	</select>
	<insert id="insert">
			<![CDATA[insert into product (productNo, productName, productPrice, productDiscountRate, productSet, isDelete, sellStatus, categoryNo)
		values (#{productNo}, #{productName}, #{productPrice}, #{productDiscountRate}, #{productSet}, #{isDelete}, #{sellStatus}, #{categoryNo})]]>
	</insert>
	
	<select id="categoryList" resultType="CategoryDTO">
			<![CDATA[select * from category where categoryNoRef is null]]>
	</select>
	
	<select id="categoryList2" resultType="CategoryDTO">
			<![CDATA[select * from category where categoryNoRef = #{categoryNoRef}]]>
	</select>
	<select id="getAttachNo" resultType="Integer">
			<![CDATA[select NVL2(max(attachNo), max(attachNo)+1, 1) from productAttach]]>
	</select>
	<insert id="addAttach">
			<![CDATA[insert into productAttach (attachNo, fullName, productNo) values  (#{attachNo}, #{fullName}, #{productNo})]]>
	</insert>
		<select id="getProductOptionNo" resultType="Integer">
		<![CDATA[select max(productOptionNo) from productOption]]>
	</select>
	<insert id="insertProductOption">
			<![CDATA[insert into productOption (productOptionNo, productColor, productSize, productQuantity, productNo) values (#{productOptionNo}, #{productColor}, #{productSize}, #{productQuantity}, #{productNo})]]>
	</insert>
	
</mapper>